.container {
    // flexbox
    display: flex;
    flex-direction: row;

    // typography
    font-size: 2.4rem;

    .nav_links {
        // flexbox
        display: flex;
        flex-direction: row;

        // styling
        list-style: none;

        .nav_item {
            margin: 0 2rem 0 ; // top-right-bottom-left
        }
    }
}
